<mat-form-field class="margin-333" style="width: 100%">
  <input 
  matInput 
  placeholder="Type to search for student" 
  value=""
  (keyup)='updateFilter($event)'>
</mat-form-field>

<div class="mat-box-shadow margin-333">
    <ngx-datatable class="material bg-white" 
    [columnMode]="'force'"  
    [headerHeight]="50"
    [footerHeight]="50" 
    [rowHeight]="50"
    [limit]="10"
    [rows]="rows"
    [columns]="columns"
    [selected]="selected"
    [selectionType]="'single'"

          (select)='onSelect($event)'
    >
    </ngx-datatable>
</div>
